@media (max-width: 800px) {
    
    .headerbar {
        flex-direction: column;
        height: 100%;
    }
    
    .headerbar > .logo-img img {
        flex-direction: column;
        height: 100%;
        width: 15rem;
    }
    
    
    .headerbar > .explore-column {
        display: column;
        grid-gap: 25px;
        align-items: center;
    }
 

    .headerbar > .header-right {
        display: flex;
        grid-gap: 15px;
        align-items: center;
        margin-left: unset;
    }
    
    
    .headerbar > .header-right > .create {
        width: 100px;
        height: 78px;
        display: flex;
        align-items: center;
    }


    

    .hero {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        gap: inherit;
    }

    .hero > .hero-left{
        order: 1;
    }

    .hero > .hero-right{
        order: 2;
        margin: auto;
    }

    .hero > .hero-left > .others-btns {
        flex-direction: column;
    }




    .footer-wrapper {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.1rem;
    }

    .footer-wrapper > .footer {
        flex-direction: row;
        height: 100%;
    }


    .footer-wrapper > .footer > .footer-div {
        font-size: 0.8rem;
    }
    
    
    .footer-wrapper > .footer > .footer-div p strong{
        font-size: 1.1rem;
    }


}